// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'banner';

$c-subtitle: #242424;

.banner__main {
  padding: 4rem 2rem;
  text-align: center;

  &--title {
    font-size: 6rem;
    font-weight: 300;
  }

  &--subtitle {
    color: $c-subtitle;
  }
}
